<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.wessm.mapper.ExaminersMapper">
    <!-- 查询所有考试成员-->
    <select id="queryExaminers" resultType="java.util.Map">
        <![CDATA[
        select
            e_no as eNo,
            e_name as eName,
            s_no as sNo,
            s_name as sName,
            examCard
        from
            (examiners left join exam on examiners.e_id=exam.e_id)
            left join stu on examiners.s_id=stu.s_id
        ]]>
    </select>
    <!-- 根据考试成员id加载考试成员信息-->
    <select id="getExaminersExId"  resultType="java.util.Map" parameterType="int">
        <![CDATA[
        select
            e_no as eNo,
            e_name as eName,
            s_no as sNo,
            s_name as sName,
            examCard
        from
            (examiners left join exam on examiners.e_id=exam.e_id)
            left join stu on examiners.s_id=stu.s_id
        where ex_id=#{ex_id}
       ]]>
    </select>
    <!-- 根据考试编号或名字加载考试成员信息-->
    <select id="getExaminers"  resultType="java.util.Map" parameterType="java.util.Map">
        <![CDATA[
        select
            e_no as eNo,
            e_name as eName,
            s_no as sNo,
            s_name as sName,
            examCard
        from
            (examiners left join exam on examiners.e_id=exam.e_id)
            left join stu on examiners.s_id=stu.s_id
        where
            e_no=#{no} or e_name like #{name}
       ]]>
    </select>
    <!-- 添加考试成员-->
    <insert id="insertExaminers" parameterType="examiners">
      <![CDATA[
        insert into examiners (
            examCard,
            s_id,
            e_id
        )
        values
        (
            #{examCard},
            #{sId},
            #{eId}
         )
      ]]>
    </insert>
    <!-- 根据考试成员ID删除考试成员记录-->
    <delete id="deleteExaminers" parameterType="int">
        <![CDATA[
        delete from examiners
        where ex_id=#{ex_id}
      ]]>
    </delete>
    <!-- 根据考试成员ID修改考试成员信息-->
    <update id="updateExaminers" parameterType="examiners">
    <![CDATA[
        update  examiners
        set
                examCard=#{examCard}
        where   ex_id=#{exId}
     ]]>
    </update>
</mapper>