<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.wessm.mapper.HquestionMapper">
    <!-- 查询所有考试-->
    <select id="queryHquestion" resultType="java.util.Map" parameterType="java.util.Map">
        <![CDATA[
       SELECT
    h_id as hId,
	t_no AS tNo,
	content,
	h_answer AS hAnswer,
	q_value AS qValue
FROM
	(
		(
			( hquestion AS hq LEFT JOIN exam AS ex ON ex.e_id = hq.e_id )
			LEFT JOIN manager AS ma ON ex.m_id = ma.m_id
		)
		LEFT JOIN quebank AS qu ON hq.t_id = qu.t_id
	)
	LEFT JOIN quetype AS qut ON qu.q_id = qut.q_id
WHERE
	m_no = #{mNo}
	AND e_no = #{eNo}
	AND STATUS =#{Status}

        ]]>
    </select>
    <select id="queryHquestionAll" resultType="hquestion" >
        <![CDATA[
SELECT
    h_id as hId,
	h_no AS hNo,
	s_id AS sId,
	e_id AS eId,
	t_id AS tId,
	STATUS AS STATUS,
	h_grade AS hGrade,
	h_answer AS hAnswer
FROM
	hquestion;

        ]]>
    </select>

    <select id="getHquestion" resultType="hquestion" parameterType="int" >
        <![CDATA[
SELECT
	h_no AS hNo,
	s_id AS sId,
	e_id AS eId,
	t_id AS tId,
	status AS Status,
	h_grade AS hGrade,
	h_answer AS hAnswer
FROM
	hquestion
WHERE
	h_id =#{h_id};
        ]]>
    </select>
    <insert id="insertHquestion"  parameterType="hquestion" >
        <![CDATA[

INSERT INTO hquestion ( h_no, s_id, e_id, t_id, status, h_grade, h_answer )
VALUES
	(#{hNo},#{sId},#{eId},#{tId},#{Status},#{hGrade},#{hAnswer});
        ]]>
    </insert>
    <delete id="deleteHquestion"  parameterType="int" >
        <![CDATA[
DELETE
FROM
	hquestion
WHERE
	h_id = #{h_id};
        ]]>
    </delete>
    <update id="updateHquestion"  parameterType="hquestion" >
        <![CDATA[
UPDATE hquestion
SET h_grade =#{hGrade},
    status=2
WHERE
    h_id =#{hId};
        ]]>
    </update>
    <!--阅卷考试查询-->
    <select id="queryHquestionMNo" resultType="java.util.Map" parameterType="String">
        <![CDATA[
      SELECT
	ex.e_id AS eId,
	e_no AS eNo,
	e_name AS eName,
	k_name AS kName,
	time_begin AS timeBegin,
	time_test AS timeTest,
	count(h_id) as un
FROM
	(
		(
			(
				( hquestion AS hq LEFT JOIN exam AS ex ON ex.e_id = hq.e_id )
				LEFT JOIN manager AS ma ON ex.m_id = ma.m_id
			)
			LEFT JOIN quebank AS qu ON hq.t_id = qu.t_id
		)
		LEFT JOIN quetype AS qut ON qu.q_id = qut.q_id
	)LEFT JOIN subject	AS su ON ex.k_id = su.k_id

WHERE
	m_no = #{m_no}
	AND STATUS = 1
GROUP BY
	ex.e_id

        ]]>
    </select>
    <delete id="deleteHquestionEId"  parameterType="int" >
        <![CDATA[
DELETE
FROM
	hquestion
WHERE
	e_id = #{e_id};
        ]]>
    </delete>
    <delete id="deleteHquestionSId"  parameterType="int" >
        <![CDATA[
DELETE
FROM
	hquestion
WHERE
	s_id = #{s_id};
        ]]>
    </delete>
<delete id="deleteHquestionTId"  parameterType="int" >
<![CDATA[
DELETE
FROM
	hquestion
WHERE
	t_id = #{t_id};
        ]]>
    </delete>
</mapper>