<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.wessm.mapper.QuebankMapper">
    <!-- 查询所有题目-->
    <select id="queryQuebank" resultType="java.util.Map">
        <![CDATA[
        select
            t_id as tId,
            t_no as tNo,
            content,
            q_type as qType,
            answer,
            reply,
            t_time as tTime,
            k_name as kName,
            m_name as mName,
            quetype.q_id as qId,
            subject.k_id as kId,
            manager.m_id as mId
         from
             ((quebank left join quetype on quebank.q_id=quetype.q_id)
            left join manager on quebank.m_id=manager.m_id)
            left join subject on quebank.k_id=subject.k_id
        ]]>
    </select>
    <!-- 根据题目id加载题目信息-->
    <select id="getQuebankTId"  resultType="java.util.Map" parameterType="int">
        <![CDATA[
        select
            t_no as tNo,
            content,
            q_type as qType,
            answer,
            reply,
            t_time as tTime,
            k_name as kName,
            m_name as mName,
            quetype.q_id as qId,
            subject.k_id as kId,
            manager.m_id as mId
         from
             ((quebank left join quetype on quebank.q_id=quetype.q_id)
            left join manager on quebank.m_id=manager.m_id)
            left join subject on quebank.k_id=subject.k_id
        where t_id=#{t_id}
       ]]>
    </select>
    <!-- 根据关键字加载题目信息-->
    <select id="getQuebank"  resultType="java.util.Map" parameterType="java.util.Map">
        <![CDATA[
        select
            t_id as tId,
            t_no as tNo,
            content,
            q_type as qType,
            answer,
            reply,
            t_time as tTime,
            k_name as kName,
            m_name as mName,
            quetype.q_id as qId,
            subject.k_id as kId,
            manager.m_id as mId
        from
             ((quebank left join quetype on quebank.q_id=quetype.q_id)
            left join manager on quebank.m_id=manager.m_id)
            left join subject on quebank.k_id=subject.k_id
        where
            t_no=#{no} or q_type=#{no} or content like #{name}
            or k_no=#{no} or k_name like #{name}
            or m_no=#{no} or m_name like #{name}
       ]]>
    </select>
    <!-- 添加题目信息-->
    <insert id="insertQuebank" parameterType="quebank">
      <![CDATA[
        insert into quebank (
            t_no ,
            content,
            answer,
            reply,
            t_time,
            q_id,
            k_id,
            m_id
        )
        values
        (
            #{tNo},
            #{content},
            #{answer},
            #{reply},
            now(),
            #{qId},
            #{kId},
            #{mId}
         )
      ]]>
    </insert>
    <!-- 根据题目ID删除题目记录-->
    <delete id="deleteQuebank" parameterType="int">
        <![CDATA[
        delete from quebank
        where t_id=#{t_id}
      ]]>
    </delete>
    <!-- 根据题目ID修改题目信息-->
    <update id="updateQuebank" parameterType="quebank">
    <![CDATA[
        update  quebank
        set
                t_no=#{tNo},
                content=#{content},
                answer=#{answer},
                reply=#{reply},
                t_time=now(),
                q_id=#{qId},
                k_id=#{kId},
                m_id=#{mId}
        where   t_id=#{tId}
     ]]>
    </update>
    <!-- 根据科目id加载题目信息-->
    <select id="getQuebankKId"  resultType="java.util.Map" parameterType="java.util.Map">
        <![CDATA[
        select
            (@rownum := @rownum + 1) rownum,
            t_id as tId,
            content,
            t_no as tNo,
            q_type as qType,
            q_value as qValue,
            answer,
            reply
        from
             quebank as qb LEFT JOIN quetype qt on qb.q_id=qt.q_id ,
      (SELECT @rownum := 0) AS rn
        where
           k_id =#{no} and q_type=#{name};
       ]]>
    </select>
    <!-- 根据科目id和题目类型加载题目信息-->
    <select id="getQuebankKIdAndQType"  resultType="java.util.Map" parameterType="java.util.Map">
        <![CDATA[
        select
            t_no as tNo,
            content,
            q_type as qType,
            answer,
            reply,
            t_time as tTime,
            k_name as kName,
            m_name as mName
        from
             ((quebank left join quetype on quebank.q_id=quetype.q_id)
            left join manager on quebank.m_id=manager.m_id)
            left join subject on quebank.k_id=subject.k_id
        where
            k_id like #{no} and q_type like #{name}
       ]]>
    </select>
    <!-- 根据下拉框加载题目-->
    <select id="queryQuebankKId" resultType="java.util.Map" parameterType="java.util.Map">
        <![CDATA[
        select
            t_id as tId,
            t_no as tNo,
            content,
            q_type as qType,
            answer,
            reply,
            t_time as tTime,
            k_name as kName,
            m_name as mName,
            quetype.q_id as qId,
            subject.k_id as kId,
            manager.m_id as mId
        from
             ((quebank left join quetype on quebank.q_id=quetype.q_id)
            left join manager on quebank.m_id=manager.m_id)
            left join subject on quebank.k_id=subject.k_id
        where quebank.k_id like #{kId} and quebank.q_id like #{qId}
        ]]>
    </select>
</mapper>